/* You can add global styles to this file, and also import other style files */
/*$ npm i bootstrap*/

@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
.even{
  background-color: #eeeeee;
  color:black;
}

.odd{
  background-color: tomato;
  color: #1976d2;
}

.mat-form-field {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
